<h1>New Message</h1>
<a href="/">Go back</a>
<form method="POST" action="/new" class="message-form">
    <input type='text' placeholder="username" name="username" class="username" required />
    <textarea name ="messageText" class="message-text" placeholder="Write a new message" rows="5" cols="30" required></textarea>
    <button type="submit" class="btn"><strong>Submit</strong></button>
</form>